@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../assets/fonts/ubuntu-regular.woff2") format("woff2"), url("../assets/fonts/ubuntu-regular.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  src: url("../assets/fonts/ubuntu-light.woff2") format("woff2"), url("../assets/fonts/ubuntu-light.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../assets/fonts/ubuntu-bold.woff2") format("woff2"), url("../assets/fonts/ubuntu-bold.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../assets/fonts/ubuntu-medium.woff2") format("woff2"), url("../assets/fonts/ubuntu-medium.woff") format("woff");
}
:root {
  --bg-dark: hsl(90 23% 88%);
  --bg: hsl(90 40% 93%);
  --bg-light: hsl(90 100% 98%);
  --text: hsl(93 100% 3%);
  --text-muted: hsl(89 18% 25%);
  --text-muted-op: hsla(89, 18%, 25%, 0.641);
  --highlight: hsl(90 100% 97%);
  --border: hsl(90 10% 47%);
  --border-muted: hsl(90 13% 59%);
  --primary: hsl(82 80% 18%);
  --secondary: hsl(274 35% 33%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
}

.dark-mode {
  --bg-dark: hsl(93 73% 1%);
  --bg: hsl(92 46% 3%);
  --bg-light: hsl(89 26% 7%);
  --text: hsl(90 66% 92%);
  --text-muted: hsl(90 16% 66%);
  --highlight: hsl(89 13% 36%);
  --border: hsl(89 18% 25%);
  --border-muted: hsl(88 28% 15%);
  --primary: hsl(88 35% 61%);
  --secondary: hsl(273 53% 76%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu";
  background-color: var(--bg-dark);
}
body.mobile_active {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/***** MOBILE MENU *****/
#mobile_menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  z-index: 15;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#mobile_menu.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mobile_menu.modal_active {
  opacity: 1;
}
#mobile_menu ul {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mobile_menu ul li {
  list-style: none;
  font-size: 56px;
  font-weight: 700;
  color: var(--bg-light);
}
#mobile_menu ul li:nth-of-type(2) {
  margin: 25px 0 25px 0;
}
#mobile_menu div {
  display: flex;
}
#mobile_menu div svg {
  width: 25px;
  height: 25px;
}
#mobile_menu div svg:nth-of-type(1) path {
  stroke: var(--bg-light);
}
#mobile_menu div svg:nth-of-type(1) rect {
  stroke: var(--bg-light);
}
#mobile_menu div svg:nth-of-type(2) {
  margin: 0 10px 0 10px;
}
#mobile_menu div svg:nth-of-type(2) path {
  fill: var(--bg-light);
}
#mobile_menu div svg:nth-of-type(2) rect {
  fill: var(--bg-light);
}
#mobile_menu div svg:nth-of-type(3) path {
  fill: var(--bg-light);
}
#mobile_menu div svg:nth-of-type(3) rect {
  fill: var(--bg-light);
}

/***** HEADER *****/
header {
  width: 100%;
  height: 92px;
  border-bottom: 0.0625rem solid var(--border);
  display: flex;
  justify-content: center;
  color: var(--text);
}

#hamburg {
  width: 50px;
  height: 100%;
  min-width: 50px;
  display: none;
  z-index: 20;
}
#hamburg div {
  width: 100%;
  height: 50px;
  position: relative;
}
#hamburg div span {
  display: block;
  width: 60%;
  height: 3px;
  background-color: var(--text);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, top 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
#hamburg div span:nth-of-type(1) {
  top: 35%;
}
#hamburg div span:nth-of-type(3) {
  top: 65%;
}
#hamburg div.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--bg-light);
}
#hamburg div.active span:nth-of-type(2) {
  opacity: 0;
}
#hamburg div.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--bg-light);
}

.hf_container {
  width: min(80%, 1250px);
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.hf_container section {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hf_container section:first-of-type {
  justify-content: start;
}
.hf_container section:first-of-type p {
  font-size: clamp(14px, 2vw, 20px);
  text-transform: uppercase;
}
.hf_container section:nth-of-type(2) {
  justify-content: start;
}
.hf_container section:nth-of-type(2) a {
  font-size: clamp(12px, 1.6vw, 14px);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.hf_container section p {
  text-transform: uppercase;
}
.hf_container nav.switch ul li:nth-of-type(3) {
  display: none;
}
.hf_container nav.switch ul li:last-of-type {
  display: block;
}
.hf_container nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.hf_container nav li {
  list-style: none;
  margin: 0 15px 0 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.hf_container nav li svg {
  width: 25px;
  height: 25px;
  fill: var(--text);
  transition: all 0.1s linear;
}
.hf_container nav li div {
  width: 35px;
  height: 35px;
  background-color: transparent;
  transition: all 0.1s linear;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hf_container nav li:last-of-type {
  display: none;
}
.hf_container nav li span {
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: var(--text);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.hf_container nav li.active_page span {
  opacity: 1;
}
.hf_container nav li:hover span {
  opacity: 1;
}
.hf_container nav li:hover div {
  background-color: var(--text);
}
.hf_container nav li:hover svg {
  fill: var(--bg-light);
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#main_container {
  width: 80%;
  overflow: hidden;
}

#hero_about {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  overflow: hidden;
  color: var(--text);
}
#hero_about h1 {
  width: 75%;
  font-size: clamp(24px, 2.5vw, 36px);
  margin: 15px 0 15px 0;
}
#hero_about h2 {
  font-size: clamp(18px, 2vw, 30px);
  color: var(--text-muted);
  font-weight: 400;
  margin-top: 150px;
}
#hero_about h3 {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 700;
  margin: 15px 0 15px 0;
  color: var(--primary);
}
#hero_about p {
  width: 75%;
  font-size: 1rem;
  line-height: 24px;
  font-size: max(1vw, 14px);
}
#hero_about div {
  margin-top: 25px;
}
#hero_about button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: var(--text) solid 2px;
  color: var(--primary);
  margin-bottom: 25px;
  position: relative;
  transition: all 0.1s linear;
}
#hero_about button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  letter-spacing: 3px;
}
#hero_about button a:visited {
  color: inherit;
}
#hero_about button:hover {
  color: var(--bg-light);
  background-color: var(--primary);
  border: var(--primary) solid 2px;
}
#hero_about button::before, #hero_about button::after {
  content: "";
  background-color: var(--primary);
  position: absolute;
  z-index: -1;
}

#projects {
  width: 100%;
  height: min(auto, 1200px);
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
#projects > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  margin: 50px 0 100px 0;
}
#projects > h2 {
  width: 100%;
  font-size: clamp(24px, 2.5vw, 36px);
  color: var(--text);
  text-align: right;
}

.proj {
  width: 24%;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.proj:hover {
  background-color: var(--text-muted-op);
}
.proj:hover h2 {
  color: var(--bg-light);
}
.proj:hover p {
  color: var(--bg-light);
}
.proj div {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--text);
}
.proj div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.proj h2 {
  font-size: clamp(14px, 2vw, 20px);
  margin-top: 10px;
  width: 70%;
  color: var(--text);
  transition: all 0.1s linear;
}
.proj p {
  font-size: 12px;
  margin: 10px 0 10px 0;
  letter-spacing: 0.5px;
  color: var(--primary);
  transition: all 0.1s linear;
}

footer {
  width: 100%;
  border-top: var(--border) solid 1px;
  display: flex;
  justify-content: center;
}
footer .hf_container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer div {
  display: none;
}
footer h2 {
  font-size: clamp(20px, 2vw, 24px);
  margin: 50px 0 20px 0;
  letter-spacing: 0.5px;
  color: var(--text);
}
footer p {
  font-size: max(0.8vw, 12px);
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  color: var(--text);
}
footer p:last-of-type {
  margin-bottom: 50px;
}

.site_projects h1 {
  font-size: clamp(24px, 2.5vw, 36px);
  margin: 50px 0 25px 0;
}
.site_projects h2 {
  font-size: clamp(18px, 2vw, 30px);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.site_projects p:first-of-type {
  font-size: clamp(14px, 1.6vw, 20px);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.site_projects button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  width: 125px;
  height: 50px;
  background-color: var(--primary);
  color: var(--bg-light);
  border: none;
  margin-top: 15px;
}

#preview {
  width: 100%;
  height: 40vw;
  min-height: 300px;
  background-color: #9c8830;
  border-radius: 4px;
  margin: 50px 0 50px 0;
}

@media screen and (max-width: 991px) {
  main {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  #main_container {
    width: 80%;
    overflow: hidden;
  }
  #projects > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
  #projects .proj {
    width: 32%;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  #main_container {
    width: 80%;
    overflow: hidden;
  }
  header .hf_container section:nth-of-type(2) {
    display: none;
    justify-content: start;
  }
  header .hf_container section:nth-of-type(2) p {
    font-size: clamp(12px, 1.6vw, 14px);
  }
  header .hf_container section:nth-of-type(2) img {
    width: 25px;
    height: 25px;
  }
  #hamburg {
    display: flex;
  }
  #projects > div {
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
  #projects > h2 {
    text-align: center;
  }
  #projects .proj {
    width: 47%;
  }
}
@media screen and (max-width: 480px) {
  main {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  #main_container {
    width: 80%;
    overflow: hidden;
  }
  .hf_container {
    width: 80%;
  }
  .hf_container section {
    width: 50%;
  }
  #hero_about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero_about h1 {
    width: 100%;
    text-align: center;
  }
  #hero_about p {
    width: 100%;
    text-align: center;
  }
  #projects > div {
    justify-content: space-between;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
  #projects > h2 {
    text-align: center;
  }
  #projects .proj {
    width: 100%;
  }
  #projects .proj h2 {
    width: 100%;
    text-align: center;
  }
  #projects .proj p {
    width: 100%;
    text-align: center;
  }
  footer p {
    display: none;
  }
  footer .hf_container {
    align-items: center;
  }
  footer .hf_container div {
    display: flex;
    margin-bottom: 50px;
  }
  footer .hf_container div svg {
    width: 20px;
    height: 20px;
  }
  footer .hf_container div span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--text);
    border-radius: 50%;
  }
  footer .hf_container div span:nth-of-type(1) path {
    stroke: var(--bg-light);
  }
  footer .hf_container div span:nth-of-type(1) rect {
    stroke: var(--bg-light);
  }
  footer .hf_container div span:nth-of-type(2) {
    margin: 0 10px 0 10px;
  }
  footer .hf_container div span:nth-of-type(2) path {
    fill: var(--bg-light);
  }
  footer .hf_container div span:nth-of-type(2) rect {
    fill: var(--bg-light);
  }
  footer .hf_container div span:nth-of-type(3) path {
    fill: var(--bg-light);
  }
  footer .hf_container div span:nth-of-type(3) rect {
    fill: var(--bg-light);
  }
  .site_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */