@use '../util/' as u;

#featured {
    width: 100%;
    background-color: var(--bg-light);
    margin-top: u.rem(100);
    display: flex;
    flex-direction: column;
    border-radius: u.rem(10);
    padding: u.rem(25) 0;
    color: var(--text);

    @include u.breakpoints(xlarge) {
        flex-direction: row;
        background-color: transparent;
    }

    .featured_intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include u.breakpoints(xlarge) {
            width: 20%;
        }

        h2 {
            text-align: center;
            font-size: var(--fs-xl);
            margin-bottom: u.rem(10);

            @include u.breakpoints(xlarge) {
                font-size: var(--fs-md);
                text-align: left;
                width: 100%;
            }
        }

        p {
            text-align: center;
            font-size: var(--fs-base);
            width: 90%;

            @include u.breakpoints(xlarge) {
                font-size: var(--fs-sm);
                text-align: left;
                width: 100%;
            }
        }
    }

    .featured_projects {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding: u.rem(25) 0;

        @include u.breakpoints(xlarge) {
            width: 60%;
            padding: 0;
            padding-left: u.rem(25);
        }


        ul {
            width: 90%;
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: u.rem(15);


            @include u.breakpoints(xlarge) {
                width: 100%;
            }
        }
    }

    .ft_project {
        flex-grow: 1;
        flex-basis: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: u.rem(10);

        @include u.breakpoints(xlarge) {
            flex-basis: 30%;
        }

        & > div {
            width: 100%;
            position: relative;
        }

        .ft_image {
            height: 70%;
            max-height: u.rem(185);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: u.rem(10) u.rem(10) 0 0;
            }
        }

        .ft_info {
            display: flex;
            height: 30%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: var(--bg-dark);
            background-color: var(--secondary);
            flex: 1;
            border-radius: 0 0 u.rem(10) u.rem(10);
            padding-bottom: u.rem(15);

            & > div {

                &:first-of-type {
                    display: flex;
                    justify-content: flex-start;
                    width: 90%;
                    margin-top: u.rem(20);

                    span {
                        display: block;
                        width: u.rem(25);
                        height: u.rem(25);
                        position: relative;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    h3 {
                        font-size: var(--fs-md);
                        margin-left: u.rem(10);

                        @include u.breakpoints(xlarge) {
                            font-size: var(--fs-base);
                        }
                    }
                }



                &:last-of-type {
                    width: 90%;

                    p {
                        margin: u.rem(5) 0;
                        font-size: var(--fs-base);

                        @include u.breakpoints(xlarge) {
                            font-size: var(--fs-sm);
                        }
                    }
                    

                    & > span {
                        display: inline-block;
                        text-align: center;
                        margin-right: u.rem(10);
                        margin-bottom: u.rem(10);
                        padding: u.rem(5);
                        background-color: var(--border-muted);
                        width: auto;
                        border-radius: u.rem(5);
                        color: var(--text);
                        letter-spacing: u.rem(2);
                        font-size: var(--fs-sm);
                        font-weight: 500;
                        padding-left: u.rem(15);
                        padding-right: u.rem(15);
                        box-shadow: u.rem(0) u.rem(0) u.rem(5) #000000;
                    }

                }
                
            }

            
        }
    }
}