@use '../util/' as u;

main {
    display: flex;
    justify-content: center;
}

.main_container {
    width: 95%;
    max-width: u.rem(820);

    @include u.breakpoints(medium) {
        width: 90%;
    }

    @include u.breakpoints(xlarge) {
        width: 100%;
        max-width: 100%;
    }
}

#hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero__intro {
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50vh;

    @include u.breakpoints(xlarge) {
        flex-direction: row;
        column-gap: u.rem(40);
        min-height: auto;
    }
    
    & > div {
        display: flex;
        flex-direction: column;
        @include u.all-center();

        @include u.breakpoints(xlarge) {
            align-items: flex-start;
            height: 100%;
        }

        &:first-of-type {
            width: clamp(u.rem(315), 100%, u.rem(510));
            margin: u.rem(20) 0;
            position: relative;
            z-index: 1;

            @include u.breakpoints(xlarge) {
                width: u.rem(350);
            }

            img {
                width: 100%;
                border-radius: u.rem(5);
            }
        }

        &:last-of-type {
            margin-top: u.rem(50);
        }

    }

    h2 {
        margin: u.rem(25) 0;
        font-size: var(--fs-xl);
        color: var(--text);

        @include u.breakpoints(xlarge) {
            font-size: var(--fs-lg);
        }
    }


    h3 {
        margin: u.rem(15) 0;
        letter-spacing: u.rem(.75);
        font-size: var(--fs-md);

        @include u.breakpoints(xlarge) {
            font-size: var(--fs-base);
        }
    }

    p {
        text-align: center;
        letter-spacing: u.rem(1);
        max-width: u.rem(510);
        font-size: var(--fs-base);

        @include u.breakpoints(xlarge) {
            font-size: var(--fs-sm);
            text-align: left;
            max-width: u.rem(700);
        }
    }

    button {
        width: u.rem(160);
        height: u.rem(50);
        margin: u.rem(25) 0;
        letter-spacing: u.rem(2);
        font-size: var(--fs-base);
        font-weight: 500;
        background-color: transparent;
        border: var(--secondary) u.rem(1) solid;
        border-radius: u.rem(8);
        color: var(--secondary);
        transition: all .1s linear;
        cursor: pointer;
        position: relative;

        @include u.breakpoints(xlarge) {
            width: u.rem(130);
            height: u.rem(35);
            font-size: var(--fs-sm);
        }
        
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            // padding: u.rem(15) u.rem(40);
        }

        &:hover {
            background-color: var(--secondary);
            color: var(--text);
        }
    }
}

























.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: u.rem(25);
    height: auto;

    @include u.breakpoints(xlarge) {
        align-items: flex-start;
    }

    .skills_toggle {
        
        & > div {
            width: auto;
            padding: u.rem(20) 0;
            border-radius: u.rem(30);
            display: flex;
            justify-content: flex-start;
            gap: u.rem(10);
        }

        button {
            padding: u.rem(10) u.rem(20);
            font-size: var(--fs-base);
            border-radius: u.rem(30);
            transition: all .1s linear;
            color: var(--text);
            cursor: pointer;
            background-color: transparent;
            border: var(--border) u.rem(1) solid;

            @include u.breakpoints(xlarge) {
                font-size: var(--fs-sm);
            }

            &.hr_active {
                background-color: var(--border);
            }

            &:hover {
                background-color: var(--border-muted);
            }
        }
    }

    .skills_list {
        margin: u.rem(25) 0;
        width: 100%;
        position: relative;
        height: u.rem(450);

        @include u.breakpoints(medium) {
            height: u.rem(350);
        }

        @include u.breakpoints(xlarge) {
            height: u.rem(250);
        }

        @include u.breakpoints(xxlarge) {
            height: u.rem(200);
        }

        & > div {
            position: relative;
            top: 0;
            transition: all .2s linear;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: u.rem(15);
            
            li {
                background-color: #2a2c2c;
                padding: u.rem(10) u.rem(20);
                border-radius: u.rem(10);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: var(--fs-base);
                font-weight: 400;
                color: var(--text);
                letter-spacing: u.rem(1);
                text-align: center;
                flex-grow: 1;
                max-width: u.rem(350);

                @include u.breakpoints(xlarge) {
                    flex-basis: 28%;
                    font-size: var(--fs-sm);
                }

                @include u.breakpoints(xxlarge) {
                    font-size: var(--fs-sm);
                    flex-basis: 18%;
                }

                span {
                    display: block;
                    position: relative;
                    width: u.rem(25);
                    height: u.rem(25);
                    margin-right: u.rem(10);

                    svg {
                        width: 100%;
                        height: 100%;
                        fill: var(--secondary);

                        g {
                            fill: var(--secondary);
                        }

                        path {
                            fill: var(--secondary);
                        }
                    }
                }
            }
        }
    }


}

.tech {
    display: none;
    opacity: 0;

    &.skill_active {
        display: block;
    }

    &.skill_show {
        opacity: 1;
    }
}

.dev {
    display: none;
    opacity: 0;


    &.skill_active {
        display: block;
    }

    &.skill_show {
        opacity: 1;
    }
}
