@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    src: url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
         url('../assets/fonts/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
         url('../assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
         url('../assets/fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../assets/fonts/Roboto-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Roboto-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
         url('../assets/fonts/Roboto-Bold.woff') format('woff');
}